@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  --mainBG: #0a0b14;
  --mainColor: #4fc3b3;
  --cardBG: #0cb2a2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

html body {
  /* background-color: #0a0b14 !important; */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
